@import 'styles/mixins.scss';

.Sidebar {
  width: var(--sidebar-width-reading);
  height: 300px;
  position: relative;
  z-index: 1000;
}

// top, left, right, bottom are all set by the spring
.inner {
  min-width: var(--sidebar-width-reading);
  position: fixed;
  display: flex;
  overflow: hidden;
  will-change: top, left, right, bottom;
  @include hovercraft(var(--border-radius-m));
}

.controlBar {
  width: var(--sidebar-width-reading);
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.expansion {
  width: calc(100% - var(--sidebar-width-reading));
  padding: 8px 0 0 40px;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;

  .logo {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    position: relative;
    will-change: top, left, right, bottom;

    a {
      width: 100%;
      display: block;
    }

    img {
      width: 100%;
    }
  }
}

.mainTitle {
  padding: 25px 15px 0;
  margin-bottom: 60px;
  white-space: nowrap;

  h1 {
    margin-bottom: 0;
  }
}

.icon {
  width: 42px;
  height: 42px;
  padding: 0;
  border-radius: 100%;
  color: var(--color-opposite);
  text-align: center;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  will-change: top, left, right, bottom;
  background: var(--bg-4);
  -webkit-appearance: none;
}

.notOnHomeItems {
  position: relative;
}

.homeItemsHidden {
  pointer-events: none;
}

.permItems {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  position: relative;

  > div {
    position: relative;
  }
}

.layoutTitle {
  margin-bottom: 3px;
  font: 800 10px var(--base-font);
  text-transform: uppercase;
}

.layouts {
  text-align: center;
  border-radius: var(--border-radius-xs);
  overflow: hidden;
  border: 1px solid var(--bg-3);

  li {
    width: 100%;
    border-bottom: 1px solid var(--bg-3);

    &:last-of-type {
      border-bottom: none;
    }

    button {
      width: 100%;
      padding: 5px 6px;
      border: none;
      color: var(--text-color);
      font: 600 10px var(--base-font);
      cursor: pointer;
      user-select: none;
      background-color: var(--bg-2);
    }

    .activeButton {
      font-weight: 700;
      background-color: var(--bg);
    }
  }
}