.Sidebar {
  height: 100%;
  padding-right: 3px;
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  background: var(--bg-3);
}

// The inner exists so that the scrollbar doesn't overflow outside of the
// .Sidebar rounded borders
.inner {
  width: 100%;
  height: 100%;
  padding: var(--sidebar-padding);
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  .logo {
    width: 100%;
    max-width: calc(var(--sidebar-width-reading) - (var(--sidebar-padding) * 2));
    display: flex;
    flex-shrink: 0;

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  .mainTitle {
    padding: 0 30px;
    white-space: nowrap;
  }

  h1 {
    margin-bottom: 0;
  }
}

.icons {
  margin-bottom: 40px;
}