@import '../styles/mixins.scss';

.PageView {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.pillar.left {
  //max-width: 200px;
  flex-grow: 1;
}

.pillar.center {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.pillar.right {
  //max-width: 50px;
  flex-grow: 1;
}

.pageContent {
  width: 100%;
  max-width: 900px;
  margin: 25px;
  padding: 40px 50px;
  overflow: auto;
  @include hovercraft();
}