.PageLinkBlock {
  width: 140px;
  height: 140px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-l);
  background: var(--bg);
  will-change: transform;

  a {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font: 600 12px var(--base-font);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2;

    span {
      transform: translateY(31px);
    }
  }
}

.icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img, i {
    transform: translateY(-21px);
  }
  
  img {
    width: 50px;
  }

  i {
    font-size: 38px;
    color: var(--text-color-2);
  }
}