@import './reset.scss';
@import './vars.scss';
@import './mixins.scss';

*::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 20px;
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-track {
  padding: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

html, body {
  height: 100vh;
}

#__next {
  height: 100%;
}

.wrap {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

h1 {
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
}

h2 {
  margin-bottom: 30px;
  padding-left: 15px;
  font-size: 23px;
  font-weight: 700;
  line-height: 0.9em;
  color: var(--text-color-2);
  display: flex;
  align-items: center;

  .icon {
    pointer-events: none;
    user-select: none;
    flex-shrink: 0;

    i {
      width: 50px;
      height: 50px;
      margin-right: 15px;
      font-size: 29px;
      color: var(--accent);
      border-radius: var(--border-radius-m);
      display: flex !important;
      align-items: center;
      justify-content: center;
      background: var(--bg-4);
    }

    img {
      height: 50px;
      margin-right: 15px;
    }
  }
}