@import 'styles/reset.scss';
@import 'styles/vars.scss';
@import 'styles/mixins.scss';
@import 'styles/editable-content.scss';

*::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 20px;
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-track {
  padding: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  height: 100vh;
}

#__next {
  height: 100%;
}

.wrap {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

h1 {
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
}

// h2 {
//   margin-bottom: 30px;
//   padding-left: 15px;
//   font-size: 23px;
//   font-weight: 700;
//   line-height: 0.9em;
//   color: var(--text-color-2);
//   display: flex;
//   align-items: center;
// }

.sidebarLayer {
  width: 100%;
  padding: var(--gutter);
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

/**
 * General text copy across all pages.
 */
.text {

  h1 {
    margin-bottom: calc(var(--text-section-spacing) - 10px);
    font-size: 38px;
    font-weight: 700;
  }
  
  h2 {
    margin-bottom: calc(var(--text-section-spacing) - 11px);
    font-size: 30px;
    font-weight: 700;
  }

  h3 {
    margin-bottom: calc(var(--text-section-spacing) - 12px);
    font-size: 24px;
    font-weight: 700;
  }

  h4 {
    margin-bottom: calc(var(--text-section-spacing) - 13px);
    font-size: 20px;
    font-weight: 700;
  }

  h5 {
    margin-bottom: calc(var(--text-section-spacing) - 14px);
    font-size: 18px;
    font-weight: 700;
  }

  h6 {
    margin-bottom: calc(var(--text-section-spacing) - 15px);
    font-size: 16px;
    font-weight: 700;
  }

  p, ul, ol {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: var(--text-section-spacing);

    a {
      color: var(--accent);

      &:hover {
        text-decoration: underline;
      }

      &[target="_blank"]:after {
        @include icon('\f360');
        margin-left: 2px;
        font-size: 10px;
        position: relative;
        top: -4px;
      }
    }

    code {
      padding: 2px 9px;
      margin: 0 3px;
      font-size: 0.8em;
      display: inline-flex;
      align-items: center;
    }
  }

  ul, ol {
    padding-left: 30px;

    ul, ol {
      padding-left: 15px;
      padding-top: 10px;
      margin-bottom: 10px;
    }
    
    li {
      font-size: 15px;
      margin-bottom: 10px;

      &::marker {
        color: var(--accent);
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: lower-roman;
  }

  p {
    line-height: 1.6em;
  }

  code {
    margin-bottom: var(--text-section-spacing);
    padding: 15px 20px;
    display: block;
    font-family: monospace;
    border-radius: var(--border-radius-s);
    background: var(--bg-4);
  }

  img {
    margin-bottom: var(--text-section-spacing);
  }
}

.row {
  width: 100%;
  margin-bottom: var(--text-section-spacing);
}

.cols {
  width: 100%;
  margin-bottom: var(--text-section-spacing);
  display: flex;
  justify-content: space-evenly;

  > div {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-content: flex-start;
    justify-content: flex-start;

    /**
     * Positioning of the column itself.
     */
    &.align-top {
      align-self: flex-start;
    }

    &.align-center {
      align-self: center;
    }

    &.align-bottom {
      align-self: flex-end;
    }

    &.align-left {
      justify-self: flex-start;
    }

    &.align-right {
      justify-self: flex-end;
    }

    // Position of the content within the column.
    &.align-content-left {
      justify-content: flex-start;
      text-align: left;
    }

    &.align-content-right {
      justify-content: flex-end;
      text-align: right;
    }

    &.align-content-center {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &.align-content-bottom {
      align-items: flex-end;
    }
  }
}

.document {

  header {
    margin-bottom: 30px;

    .meta {

    }
  }
}