@import './reset.scss';
@import './vars.scss';
@import './mixins.scss';

*::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 20px;
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-track {
  padding: 2px;
}

html, body {
  height: 100vh;
}

#__next {
  height: 100%;
}

.wrap {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 700;
}

h2 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.9em;
  color: var(--text-color-2);
  display: flex;
  align-items: center;

  i {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 17px;
    color: var(--accent);
    border-radius: var(--border-radius-s);
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: var(--bg-4);
  }
}