[data-theme] {
  color: var(--text-color);
  font: 14px var(--base-font);

  --accent: rgb(234, 103, 103);
  --base-font: 'Open sans', sans-serif;
  --accent-font: 'Yantramanav', sans-serif;

  --wrapper: calc(1100px + var(--gutter));
  --gutter: 25px;

  --sidebar-width-reading: 80px;
  --sidebar-padding: 30px;
  --sidebar-mode-transition-duration: 900ms;

  --border-radius-s: 4px;
  --border-radius-m: 12px;
  --border-radius-l: 20px;

  --scrollbar-color: #0e0e0e;
  --box-shadow: 0 0 9px 2px #1b1b1b;
}

[data-theme="dark"] {
  --bg: #272727;
  --bg-2: #353535;
  --bg-3: #3d3d3d;
  --bg-4: #222222;
  --btn-color: #4b4b4b;
  --btn-color-hover: #444444;
  --text-color: #ececec;
  --text-color-2: #b9b9b9;
  --text-color-3: #7e7e7e;
  --text-color-4: #525252;
  --border-color: #494949;
}

[data-theme="light"] {
  --bg: #ffffff;
  --bg-2: #eae9e9;
  --bg-3: #ececec;
  --bg-4: #f0f0f0;
  --btn-color: #cfcfcf;
  --btn-color-hover: #acacac;
  --text-color: #202020;
  --text-color-2: #202020;
  --text-color-3: #6b6b6b;
  --text-color-4: #cecece;
  --border-color: #cecece;
}