[theme] {
  color: var(--text-color);
  font: 14px var(--base-font);

  --accent: rgb(234, 103, 103);
  --base-font: 'Open sans', sans-serif;
  --accent-font: 'Yantramanav', sans-serif;

  --wrapper: calc(1100px + var(--gutter));
  --gutter: 25px;

  --sidebar-width-expanded: calc(100% - var(--gutter));
  --sidebar-width-reading: 120px;
  --sidebar-padding: 30px;
  --sidebar-mode-transition-duration: 900ms;

  --border-radius-s: 4px;
  --border-radius-m: 12px;
  --border-radius-l: 20px;

  --box-shadow: 0 0 6px 0 #1b1b1b;

  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
}

[theme="dark"] {
  --bg: #272727;
  --bg-2: #353535;
  --bg-3: #3d3d3d;
  --bg-4: #222222;
  --btn-color: #4b4b4b;
  --btn-color-hover: #444444;
  --text-color: #ececec;
  --text-color-2: #d4d4d4;
  --text-color-3: #9e9e9e;
  --text-color-4: #525252;
  --border-color: #494949;
}

[theme="light"] {
  --bg: #ffffff;
  --bg-2: #eae9e9;
  --bg-3: #ececec;
  --bg-4: #f0f0f0;
  --btn-color: #cfcfcf;
  --btn-color-hover: #acacac;
  --text-color: #202020;
  --text-color-2: #202020;
  --text-color-3: #6b6b6b;
  --text-color-4: #cecece;
  --border-color: #cecece;
}